<div class="chapter">
    <h2>Modifier un produit</h2>
    <form [formGroup]="productForm" (ngSubmit)="updateProduct()">
        <div class="form-group">
            <label for="name">Nom du produit</label>
            <input class="form-control" id="name" type="text" formControlName="name">
        </div>
        <div class="form-group">
            <label for="description">Description du produit</label>
            <input [disabled]="disab" class="form-control" id="description" type="text" formControlName="description">
        </div>
        <div class="form-group">
            <label for="category">Catégorie du produit</label>
            <select class="form-control" formControlName="category" id="category">
                <option *ngFor="let category of categories" value="{{category.id}}">{{category.icon}} - {{category.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="price">Prix du produit</label>
            <input class="form-control" id="price" type="number" formControlName="price">
        </div>
        <input class="btn btn-primary" type="submit" value="Modifier le produit">
    
    </form>
</div>
