<nav>
    <ul class="nav flex-column">
        <li class="nav-item">  <a class="nav-link active" routerLink="/">Accueil</a></li>
        <li class="nav-item">  <a class="nav-link" routerLink="/demo">Demos</a></li>
        <li class="nav-item">  <a class="nav-link" routerLink="/demo/demo1">Demo 1 - Bindings</a> </li>
        <li class="nav-item">  <a class="nav-link" routerLink="/demo/demo2">Demo 2 - Pipes</a>
        </li>
        <li class="nav-item">  <a class="nav-link" routerLink="/exercice">Exercices</a>
        </li>
        <li class="nav-item">  <a class="nav-link" routerLink="/exercice/exo1">Exercice 1</a>
        </li>
    </ul>
</nav>
