<!-- <nav>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/">Accueil</a>
    </li>
    <li class="nav-item"><a class="nav-link" routerLink="/demo">Demos</a></li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/demo/demo1">Demo 1 - Bindings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/demo/demo2">Demo 2 - Pipes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/demo/demo3">Demo 3 - Les directives</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/exercice">Exercices</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/exercice/exo1">Exercice 1</a>
    </li>
   
  </ul>
</nav> -->

<nav>
  <ul class="nav flex-column">
    <li *ngFor="let link of links; let i = index" class="nav-item">
      <a (click)="toggleChildren(i)" class="nav-link active" [ngClass]="{'bg-primary': link.isVisible}" routerLink="{{link.url}}">{{link.title}}</a>
      <ul *ngIf="link.isVisible && link.children" class="nav submenu">
        <li *ngFor="let child of link.children" class="nav-item">
          <a class="nav-link active" routerLink="{{child.url}}"><span>{{child.title}}</span></a>
        </li>
      </ul>
    </li>
  </ul>
</nav>