<h2>Demo1 : Les bindings</h2>
<div class="chapter">
    <h3 class="text-primary">Property Binding</h3>
    <h4>One-Way Binding</h4>
    <div>Bonjour {{monPrenom}}, comment vas-tu ?</div>
    <h4>Two-Way Binding</h4>
    <div>
        <p>Mince, tu ne t'appelles pas {{monPrenom}} ?! Change juste en dessous :</p>
        <input class="form-control" type="text" [(ngModel)]="monPrenom">
    </div>
</div>

<div class="chapter">
    <h3 class="text-primary">Event Binding</h3>
    <p>{{monMessage}}</p>
   
    <button class="btn btn-primary" (click)="direBonjour('fr')">Dis bonjour en français</button>
    <button class="btn btn-primary" (click)="direBonjour('en')">Dis bonjour en anglais</button>
    <button class="btn btn-primary" (click)="direBonjour('es')">Dis bonjour en espagnol</button>

</div>
<div class="chapter">
    <h3 class="text-primary">Attribute Binding</h3>
    <input class="form-control" type="text" [placeholder]="monPlaceholder">
    <input class="btn btn-primary" type="button" [disabled]="isClickable" value="Saluer en retour">
</div>
