<div class="chapter">
    <h3>Ma liste de courses</h3>
    <a class="btn btn-primary" routerLink="/demo/demo8/add">Ajouter un produit</a>
    <table class="table table-hover">
        <thead>
            <th scope="col">Nom</th>
            <th scope="col">Description</th>
            <th scope="col">Categorie</th>
            <th scope="col">Prix</th>
            <th scope="col">Actions</th>
        </thead>
        <tbody>
            <tr scope="row" *ngFor="let product of productsList;">
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.category}}</td>
                <td>{{product.price}} €</td>
                <td>
                    <a class="btn btn-primary" routerLink="/demo/demo8/edit/{{product.id}}">Edit</a>
                    <a class="btn btn-primary" (click)="deleteProduct(product.id)" >Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>