/* You can add global styles to this file, and also import other style files */
header{
    width: 20%;
}
main {
    width: 80%;
    min-height: 100vh;
    padding: 0% 2%;
    background-color: rgb(211, 231, 238);
}

.chapter{
    margin: 2%;
    padding : 2%;
    background-color: white;
    border-radius: 5px;
}